$font-l: 2rem;
$font-m: 1.5rem;
$font-s: 0.7rem;


$is-primary: #559AC8;
$is-secondary: #8A82CC;
$is-warning: #FFA782;
$is-info: #F5D005;

$border:1px solid black;

$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l:2rem;

$box-shadow: 3px 3px 5px #e7e7e7;


