@import '_reset.scss';
@import '_mixin.scss';
@import '_variables.scss';
@import '_modules.scss';

body{
    font-family: 'Microsoft JhengHei', sans-serif;
}

.loader{
    width:100vw;
    height:100vh;
    background-color: $is-primary;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease;
    &.is-hidden{
        transform: translateY(-3000px);

    }
    h2{
        font-size: 40px;
        font-weight: bolder;
        color: white;
        width: 5em;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 2s steps(5);
    }
    @include mobile{
        height:100vh;
    }
}

.wrapper{
    width:1000px;
    margin: 0 auto;
    font-family: 'Microsoft JhengHei', sans-serif;
    
 
}

@keyframes typing{
    from{ width: 0}
}

.header{
    background-image: url('../images/the-urban-landscape-1698285.png');
    height:450px;

    h1{
       margin-top: 150px;
       color:white; 
       font-size: $font-l;
       letter-spacing: 0.3rem;
    }

    .areaSelector{
        width:50%;
        font-family: inherit;
        font-size: 20px;
        select{
            padding:0.5rem;
            width:100%;
            height:100%;
            font-size: 20px;
            font-family: inherit;
        }
        @include mobile{
            width:80%;
            height:50px;

        }
    }
    .tags-wrapper{
        width: 50%;
        background: white;
        margin-top: 1.5rem;
        padding: 0.5rem;
        bottom: -10%;

        @include mobile{
            width:70%;
        }

            .tag{
                padding:0.5rem;
                font-size: 1.2rem;
                color:white;  
                 &:hover {
                   cursor: pointer;
                }   
                @include mobile{
                    font-size: 2rem;
                }   
            }



        
    }
}

.page-container{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    .page{
        padding: 0.3rem;
        color:$is-primary;
        &.is-active{
            border-bottom:5px solid $is-info;
            color:$is-info;
            font-weight: bold;
        }

        &:hover{
            cursor: pointer;
        }
        @include mobile{
                padding:0px;
                font-size: 2rem;
                width: 50px;
                height: 44px;
                line-height: 44px;
                text-align: center;
            
        }
    }
}

.results{
    .area-title{
        padding:1rem;
        font-weight: bold;
        color:$is-primary;
    }
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card{
        width:48%;
        box-shadow: $box-shadow;

        @include mobile{
            width:80%
        }
        img{
            width:100%;
            height:250px;

            @include mobile{
                height:auto;
            }
        }
    
        .card-content{
            padding:0.5rem;
            line-height:1.5rem;
        }
    }


}
